[submodule "externals/boost"]
	path = externals/boost
	url = https://github.com/fastnx/boost.git
[submodule "externals/mbedtls"]
	path = externals/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "externals/lz4"]
	path = externals/lz4
	url = https://github.com/lz4/lz4.git
[submodule "externals/pugixml"]
	path = externals/pugixml
	url = https://github.com/zeux/pugixml.git
